/*Fonts*/
@font-face {
    font-family: 'latobold';
    src: url('fonts/Lato-Bold-webfont.eot');
    src: url('fonts/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bold-webfont.woff2') format('woff2'),
         url('fonts/Lato-Bold-webfont.woff') format('woff'),
         url('fonts/Lato-Bold-webfont.ttf') format('truetype'),
         url('fonts/Lato-Bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('fonts/Lato-Regular-webfont.eot');
    src: url('fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular-webfont.woff2') format('woff2'),
         url('fonts/Lato-Regular-webfont.woff') format('woff'),
         url('fonts/Lato-Regular-webfont.ttf') format('truetype'),
         url('fonts/Lato-Regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/**/

/*CLear fix class*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/**/


/*content*/
.container:nth-child(1),
.container:nth-child(4){
    margin-left: 0;
}
.container:nth-child(3),
.container:nth-child(6){
    margin-right: 0;
}
.container{
    position: relative;
    padding-bottom: 11.25%;
    height: 0;
    overflow: hidden;
    float: left;
    overflow: hidden;
    margin: 0.25%;
    position: relative;
}
.subcontainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.positioning{
    float: left;
    overflow: hidden;
     margin: 0 0.5% 0.5% 0; 
    position: relative;

    padding-bottom: 11.25%;
    height: 0; 
}

.positioning:nth-child(3),
.positioning:nth-child(6)
{
    margin-right: 0;
}

.title{
    position: absolute;
    left: 25px;
    bottom: 13px;
    color: white;
    text-transform: uppercase;
    font-family: 'latobold';
    letter-spacing: 5px;
}

.topworkz{
    width: 30%;
    background: url('../images/TopWorkz.png')0px 0px / contain no-repeat;
    background-size: 100%;
}
.joint{
    width: 39%;
    background: url('../images/joint.png')0px 0px / contain no-repeat;
    background-size: 100%;
}
.market{
    width: 30%;
    background: url('../images/market.png')0px 0px / contain no-repeat;
    background-size: 100%;
}
.worktop{
    width: 30%;
    background: url('../images/worktop.png') 0px 0px / contain no-repeat;
    background-size: 100%;
}
.lable{
    width: 39%;
    background: url('../images/lable.png') 0px 0px / contain no-repeat;
    background-size: 100%;
}
.kuiv{
    width: 30%;
    background: url('../images/kyiv.png') 0px 0px / contain no-repeat;
    background-size: 100%;
}
/**/

